/* This file is for your main application css. */

body {
  min-width:800px;
  width: auto !important;
  width:800px;
}

.column1 {
  background-color: wheat;
}

.column2 {
  background-color: lightgoldenrodyellow;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

/* 
html {
  background: url(images/blob-roller.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.grid-square {
  background-color: #d0d0d0;
  padding-right: 5px;
  margin-right: 2px;
}


.grid-square-player-occupied {
  background-color: #b6ec8d;
  padding-right: 5px;
  margin-right: 2px;
}

.grid-square-gru-occupied {
  background-color: #d0768b;
  padding-right: 5px;
  margin-right: 2px;
}

.grid-square-hover {
  background-color: #8b92d0;
  padding-right: 5px;
  margin-right: 2px;
}

.other-player-tile {
  background-color: #ecd084;
}