<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title() %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <header class="header">

      <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#">Om-agar</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blob">Blob</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-3">
        <li class="nav-item">
          <h3> <a href="/logout">logout </a> </h3>
        </li>
      </ul>
  
      </nav>

        
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    

        
        <%= if false do %>
        <%#= if @conn.assigns[:current_user] do %>
          <p> total :  <%= @conn.assigns[:foo_total] %> </p>
          <p> current_user:  <%= inspect(@conn.assigns[:current_user].name) %> </p>
          <p> auth token:  <%= inspect(@conn.assigns[:user_token]) %> </p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>

    </div> <!-- /container -->

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>



  </body>
</html>
