
<div class="row no-gutters">
  <div class="col-xs-3 ">
   
    <div class="pl-2">
      <h3> Chat </h3>
      <ul id="messages" class="">
       </ul>

       <input id="chat-input" type="text"></input>
    </div>
    
  </div>

  <div class="col-xs-6 no-gutters bg-secondary" style="width:600px">
    <div id="sketchContainer">
    </div>
  </div>

</div>
