<div id="messages"></div>
<input id="chat-input" type="text"></input>


<div class="foo">
-------
</div>

<div class="row">


</div>

<div id="sketchContainer" style="background-color:grey; margin-top:20px; padding:2px">
</div>


<button class="clicker"> click</button>

<%= render_existing @view_module, "grid", assigns %>