<div id="messages"></div>
<input id="chat-input" type="text"></input>


<div class="foo">
-------
</div>




<div class="row">

<div class="col md-6">
<div id="gridroot"></div>
</div>


</div>

<button class="clicker"> </button>
<%= render_existing @view_module, "grid", assigns %>