

<div class="jumbotron">
  <h2>Welcome to Aga </h2>


  <%= form_for @conn, page_path(@conn, :create), [as: :page], fn f -> %>

  <div class="form-group">
    <%= text_input f, :username, placeholder: "Username", class: "form-control" %>
  </div>

  <%= submit "Continue", class: "btn btn-primary" %>
  <% end %>

</div>


<p>  <%= @conn.assigns[:foo_email] %> </p>

<h3>  <%= raw @conn.assigns[:foo_chatserver] %> </h3>



